*.iml
.gradle/
local.properties

.idea/

.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.orig
*.swp

build/
*/build/
captures/
.externalNativeBuild/
.cxx/

jks/
*.jks
*.keystore
debug/
release/
*.apk
*.aab
app/debug/
app/release/

/*.html
/test_html/

/PassCard.png
/PassCard_images/
/记录空空的_compressed.png
/app/src/main/res/drawable-nodpi/empty_records.png
